<!--
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin-helper" })  do |f| %>
<h2 class="form-signin-heading">Please Sign In</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

 render "users/shared/links" 
-->


<form id="new_user" class="new_user form-signin" action="/users/sign_in" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="#{@token}">


  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>

  <input type="email" id="inputEmail" class="form-control" value name="user[email]" placeholder="Email address" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>

  <input type="password" id="inputPassword" class="form-control" placeholder="Password"  name ="user[password]" autocomplete="off" required>

  <div class="checkbox">
    <label>
      <input name="user[remember_me]" type="hidden" value="0">
      <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me"> Remember me
    </label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" name="commit" value="Sign in" data-disable-with="Sign in">Sign in</button>
</form>
