<!--
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin-helper" })  do |f| %>
<h2 class="form-signin-heading">Please Sign In</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

 render "users/shared/links"
-->


<div class="row sign-in">
  <form class="col s12" action="/users/sign_in" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="#{@token}">

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" value name="user[email]">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="user[password]">
        <label for="password">Password</label>
      </div>
    </div>

    <!-- Switch -->
    <label for="remember_me">Remember me</label>
    <div class="section">
    <div class="switch">
      <label>
        Off
        <input name="user[remember_me]" type="hidden" value="0" />
        <input type="checkbox" value="1" name="user[remember_me]">
        <span class="lever"></span>
        On
      </label>
    </div>
    </div>

    <button class="btn waves-effect waves-light normal-btn" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
