<%= user_signed_in? %><br />
<%= current_user %><br />
<%= session[:user_id] %><br />


<%= react_component 'FriendSearchForm', { token: @token } %>
<%= react_component 'UserAddressForm' %>
<%= render 'events/form' %>


<h3>Incoming Invitations</h3>
<% current_user.invited_events.each do |event| %>
  <span><%= event.host.id%></span>
  <span><%= event.host.username%></span>
  <span><%= event.title%></span>
  <span><%= event.date%></span>
    <% if event.status == "Open" %>
      <%= form_for event do |f| %>
      <%= f.label :Homebase %>:
      <%= f.collection_select(:guest_address, current_user.user_addresses, :id, :address) %>
      <%= f.button %>
    <% end %>
    <% else %>
    <span><%=event.status%></span>
    <% end %>
<% end %>

<h3>Outgoing Invitations</h3>
<% current_user.events.each do |event| %>
  <span><%= event.id %></span>
  <span><%= event.title%></span></br>
  <% event.guests.each do |guest| %>
    <span><%= guest.email %></span>
    <% end %>
    <span><%= event.status %></span>
  </br>
  </br>

<% end %>
