<h2>This is the form to create new event</h2>
<%= form_for :event, url: events_path  do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :date %>:
  <%=  f.datetime_field :date, "data-provide" => 'datepicker' %><br/>

  <%= f.label :friends %>:
  <%= f.collection_select(:guest, current_user.friends, :id, :email) %>
  </br>

  <%= f.label :Homebase %>:
  <%= f.collection_select(:host_address_id, current_user.user_addresses, :id, :address) %>

  <%= f.hidden_field :host_id, :value => current_user.id %>
  </br>
  <%= f.submit "Create Event" %>

<% end %>
