<%= user_signed_in? %><br />
<%= current_user.email %><br />
<%= session[:user_id] %><br />


<%= react_component 'Dashboard', { current_user: current_user, userProfile: @user_profile } %>

<!-- <h3>Outgoing Invitations</h3>
<% current_user.events.each do |event| %>
  <a href="events/<%=event.id%>">
    <span><%= event.id %></span>
    <span><%= event.title%></span></br>
    <% event.guests.each do |guest| %>
      <span><%= guest.email %></span>
      <% end %>
      <span><%= event.status %></span>
    </a>
  </br>
  </br> -->
<% end %>
